@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');
body{
    height: 100%;
    font-family: 'Rubik';
    font-size: 12px;
    color: #616161;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
[class *='_container']{
    max-width: 1087px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
}
@media (max-width:1087px) {
    [class *='_container']{
        max-width: 970px;
    }
}
@media(max-width:991.98px) {
    [class *='_container']{
        max-width: 750px;
    }
}
@media (max-width:767.98px) {
    [class *='_container']{
        max-width: none;
    }
    
}
.page{
    flex: 1 1 auto;
}
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    // .header__container
    &__container {
        display: flex;
        min-height: 114px;
        align-items: center;
        @media (max-width:991.98px) {
            min-height: 80px;
        }
        @media (max-width:767.98px) {
            flex-wrap: wrap;
        }
    }
    // .header__logo
    &__logo {
        padding-right: 15px;
        @media (max-width:534px) {
            margin: 0 auto;
        }
        @media (max-width:510px) {
            margin-bottom: 15px;
            
        }
    }
    // .header__menu
    &__menu {
        flex: 1 1 auto;
        }
    }
    .header__button{
        flex: 0 0 252px;
        display: inline-flex;
        justify-content: flex-end;
    }
    @media(max-width:991.98px) {
        .header__button{
        flex: 0 0 170px;
        }
    }
    @media (max-width:704px) {
        .header__button{
            margin: 0 auto;
            flex: 0 1 auto;
        }
        
    }
.menu {
    display: flex;
    justify-content: flex-end;
    @media (max-width:767.98px) {
        justify-content: center;
    }
    @media (max-width:290px) {
        flex-wrap: wrap;
    }
    // .menu__items
    &__items {
        padding-right: 40px;
        @media(max-width:991.98px) {
            padding-right: 30px;
        }
        @media (max-width:510px) {
            padding-right: 30px;
            &:last-child{
                padding-right: 0;
            }
            padding-bottom: 15px;
        }
        @media (max-width:350px) {
            padding-right: 15px;
        }
        @media (max-width:290px) {
            padding-right: 10px;
        }
    }
    // .menu__item
    &__item {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 10px;
        line-height: calc(12/10*100%);
        letter-spacing: 0.14em;
        color: #000000;
        @media (max-width:510px) {
            font-size: 12px;
        }
    }
}
.header__btn{
    @media (max-width:704px) {
        
    }
}
.button {
    display: inline-flex;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 10px;
    line-height: calc(12/10*100%);
    letter-spacing: 0.14em;
    color: #FCFDFE;
    padding: 14px 30px;
    background: #EC5863;
    border-radius: 5px;
    &:hover{
        background: white;
        color: #EC5863;
        transition:all 0.2s;
    }
    // .button_blue
    &_blue {
        background: #4285F4;
        border-radius: 5px;
        &:hover{
            background: white;
            color: #4285F4;
            transition:all 0.2s;
        }
    }
}
//-----------------------
.page-block {
    background: #FAFBFD;
    // .main-block__container
    &__container {
        padding-top: 150px;
        display: flex;
        //flex-wrap: wrap;
        position: relative;
        @media (max-width:767px) {
            flex-wrap: wrap;
        }
        @media (max-width:650px) {
            justify-content: center;
        }
        &::before{
            content:'';
            transform: translate(100%,0);
            position: absolute;
            width: 100vh;
            height: 100%;
            right: 267px;
            top: 0;
            background: #EC5863;
            border-radius: 30px 0px 0px 30px;
            @media (max-widtn:991.98px) {
                right: 185px;     
            }
            @media (max-width:650px) {
                //display: none;
                //background: #42d6f0;
                background: #ff747d;
            }
            @media (max-width:295px) {
                display: none;
            }
        }
    }
    // .main-block__content
    &__content {
        z-index: 3;
        flex: 0 1 48%;
    }
    // .main-block__title
    &__title {
        padding-top: 90px;
        font-weight: 700;
        font-size: 44px;
        line-height: 126%;
        color: #000000;
        max-width: 497px;
        &:not(:last-child){
            padding-bottom: 12px;
        }
        span{
            color:#4285F4;
        }
        @media (max-width:650px) {
            max-width: none;
        }
        @media (max-width:550px) {
            padding-top: 50px;
            
        }
    }
    // .main-block__subtitle
    &__subtitle {
        font-weight: 400;
        line-height: 138.5%;
        letter-spacing: 0.08em;
        color: #616161;
        max-width: 375px;
        &:not(:last-child){
            padding-bottom: 24px;
        }
        @media (max-width:650px) {
            max-width: none;
        }
    }
    // .main-block__button
    &__button {
        &:not(:last-child){
            padding-bottom: 148px;
        }
        @media (max-width:767px) {
            &:not(:last-child){
                padding-bottom: 80px;
            }
            
        }
    }
    // .main-block__video
    &__video {
        display: flex;
    }
    // .main-block__image
    &__image {
        flex: 0 1 52%;
        position: relative;
        z-index: 2;
        @media (max-width:767px) {
            flex: 0 1 100%;
        }
        img{
            height: auto;
            width: 100%;
            max-width: 547px;
        }
    }
}
.video {
    // .video__link
    &__link {
        margin-right: 12px;
        width: 44px;
        height: 44px;
    }
    // .video__content
    // .video__title
    &__title {
        display: block;
        font-size: 13px;
        line-height: 126%;
        letter-spacing: 0.08em;
        color: #B0B0B0;
        &:not(:last-child){
            padding-bottom: 5px;
        }
    }
    // .video__subtitle
    &__subtitle {
        display: block;
        font-size: 9px;
        line-height: 126%;
        letter-spacing: 0.165em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 54px;
    }
}
.page-safe {
    padding: 80px 0;
    // .page-safe__container
    // .page-safe__item
    &__item {
        display: flex;
        @media (max-width:991.98px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    // .page-safe__image
    &__image {
        display: flex;
        justify-content: center;
        flex: 0 0 31%;
        @media (max-width:991.98px) {
            flex: 1 1 100%;
        }
        img{
            height: auto;
            width: 100%;
            object-fit: cover;
            max-width: 338px;
        }
    }
    // .page-safe__content
    &__content {
        padding-top: 150px;
        flex: 1 1 100%;
        margin-left: 150px;
        @media (max-width:991.98px) {
            flex: 1 1 100%;
            padding-top: 75px;
            margin-left: 0;          
        }
    }
    // .page-safe__title
    &__title {
        font-weight: 700;
        font-size: 44px;
        line-height: 126%;
        color: #000000;
        max-width: 379px;
        @media (max-width:991.98px) {
            margin: 0 auto;
        }
        &:not(:last-child){
            padding-bottom: 12px;
        }
        span{
            color:#EC5863;
        }

    }
    // .page-safe__subtitle
    &__subtitle {
        line-height: 138.5%;
        letter-spacing: 0.08em;
        max-width: 363px;
        &:not(:last-child){
            padding-bottom: 24px;
        }
        @media (max-width:991.98px) {
            margin: 0 auto;
        }
    }
    // .page-safe__button
    &__button {
        @media (max-width:991.98px) {
            display: flex;
            justify-content: center;
        }
    }
}
//--------------
.page-experts {
    padding: 103px 0 116px 0;
    @media (max-width:991.98px) {
        padding: 70px 0 55px 0;
    }
    background: #FAFBFD;
    // .page-experts__container
    &__card {
        // background: #FFFFFF;
        // box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
        // border-radius: 16px;
        max-width: 655px;
        margin: 0 auto;
        position: relative;
    }
    // .page-experts__content
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 28px 80px;
        background: #FFFFFF;
        box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
        border-radius: 16px;
        position: relative;
        z-index: 2;
        @media (max-width:530px) {
            flex-wrap: wrap;
            padding: 20px 40px;
            justify-content: center;
            align-items:center;
        }
    }
    // .page-experts__number
    &__number {
        &:not(:last-child){
            padding-right: 30px;
        }
        @media (max-width:465px) {
            padding-right: 0;
            
        }
        font-weight: 700;
        font-size: 36px;
        line-height: calc(43/36*100%);
        color: #EC5863;
        padding-bottom: 30px;
    }
    // .page-experts__text
    &__text {
        @media (max-width:485px) {
            padding-right: 0;
            padding-bottom: 30px;
        }
        padding-right: 30px;
        font-weight: 700;
        font-size: 11px;
        line-height:calc(13/11*100%);
        text-transform: uppercase;
        color: #000000;
    }
    &__body {
        display: flex;
        @media (max-width:991.98px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }
    // .page-experts__talk
    &__talk {
        flex: 0 1 50%;
        padding-top: 130px;
        @media (max-width:991.98px) {
            flex: 0 1 100%;
            padding-top: 65px;
            align-self: center;       
        }
    }
    // .pae-experts__title
    &__title {
        font-weight: 700;
        font-size: 44px;
        line-height: 126%;
        color: #000000;
        max-width: 393px;
        &:not(:last-child){
            padding-bottom: 12px;
        }
        span{
            color: #587EEC;
        }
    }
    // .page-experts__subtitle
    &__subtitle {
        line-height: 138.5%;
        letter-spacing: 0.08em;
        color: #616161;
        max-width: 363px;
        &:not(:last-child){
            padding-bottom: 24px;
        }
    }
    &__button{
        @media (max-width:991.98px) {
            display: flex;
            justify-content: center;
        }
    }
}
.page-experts {
    // .page-experts__decor
    &__decor {
        position: absolute;
        background-color: #EC5863;
        border-radius: 30px;
        // .page-experts__decor_1
        &_1 {
            border-radius: 16px;
            width: 65px;
            height: 65px;
            transform: rotate(-30deg);
            bottom: -21px;
            left: -21px;
        }
        // .page-experts__decor_2
        &_2 {
            width: 97px;
            height: 97px;
            right: 50%;
            transform: rotate(30deg);
            top: -40px;

        }
        // .page-experts__decor_3
        &_3 {
            transform: rotate(-30deg);
            width: 127px;
            height: 127px;
            right: -55px;
            top: -15px;
        }
    }
}
.page-experts {
    &__video {
        margin-top: 80px;
        padding-bottom: 32%;
        position: relative;
        flex: 0 1 52%;
        @media (max-width:991.98px) {
            flex: 0 1 100%;
            padding-bottom: 50%;
        }
        iframe{
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

        }
    }
}
//--------
.page-healthcare {
    padding: 80px 0 75px 0;
    @media (max-width:991.98px) {
        padding: 60px 0 55px 0;
        
    }
    // .page-healthcare__container
    &__container {
        display: flex;
        flex-direction: column;
    }

    // .page-healthcare__title

    &__title {
        font-weight: 700;
        font-size: 44px;
        line-height: 126%;
        color: #000;
        max-width: 769px;
        align-self:center;
        &:not(:last-child){
            padding-bottom: 14px;
        }
        span{
            color: #EC5863;
        }
    }

    // .page-healthcare__subtitle

    &__subtitle {
        line-height: 138.5%;
        letter-spacing: 0.08em;
        //margin: 0 auto;
        max-width: 670px;
        align-self:center;
        &:not(:last-child){
            padding-bottom: 46px;
        }
    }

    // .page-healthcare__body

    &__body {
        display: flex;
        margin: 0 -36px;
        position: relative;
        @media (max-width:991.98px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    // .page-healthcare__column

    &__column {
        background: #FFFFFF;
        box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
        border-radius: 8px;
        flex: 0 1 33.333%;
        margin: 0 36px;
        position: relative;
        @media (max-width:991.98px) {
            &:nth-child(3n){
                //margin: 0 -36px;
                flex: 0 1 100%;
                margin-top: 36px;
            }
            flex: 0 1 40%;
        }
        @media (max-width:695px) {
            margin-top: 36px;
            flex: 0 1 100%;
        }
    }

    // .page-healthcare__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
}
.item-healthcare {

    // .item-healthcare__image

    &__image {
        padding-top: 36px;
        &:not(:last-child){
            padding-bottom: 58px;
        }
    }

    // .item-healthcare__title

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 138.5%;
        letter-spacing: 0.08em;
        color: #000000;
        text-align: center;
        &:not(:last-child){
            padding-bottom: 4px;
        }
    }

    // .item-healthcare__text

    &__text {
        max-width: 232px;
        padding-bottom: 36px;
        text-align: center;
    }
}

.page-healthcare_decor_1::before,
.page-healthcare_decor_1::after{
    content:'';
    position: absolute;
    background: #EC5863;
    border-radius:16px;
    z-index: -1;
}
.page-healthcare_decor_1::before{
    content:'';
    width: 65px;
    height: 65px;
    bottom: -35px;
    left: -20px;
    transform: rotate(-30deg);
}

.page-healthcare_decor_1::after{
    content:'';
    width: 96px;
    height: 96px;
    top: 31px;
    right: -51px;
    transform: rotate(105deg);
}

.page-healthcare_decor_2::before{
    content:'';
    position: absolute;
    background: #EC5863;
    border-radius:30px;
    width: 127px;
    height: 127px;
    z-index: -1;
    right: -82px;
    bottom:-46px;
    transform: rotate(-30deg);
}
.page-healthcare_decor_3::before{
    content:'';
    position: absolute;
    background: #EC5863;
    border-radius: 16px;
    transform: rotate(-30deg);
    width: 65px;
    height: 65px;
    z-index: -1;
    top: -36px;
    right:-21px;
    @media (max-width:991.98px) {
        display: none;
        
    }
}
.footer {
    // .footer__container

    // .footer__body
    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:510px) {
            flex-wrap: wrap;
            
        }
    }
    //.footer__column
    &__column {
        padding-right: 56px;
        padding-bottom: 45px;
        @media (max-width:510px) {
            padding-right: 0;
            flex: 0 1 100%;
            text-align: center;
        }
    }
}
